

@using Microsoft.AspNetCore.Http
@{
    Layout = "_Landing";
}

<!--LAnding page first -->




<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./landingfile/images/favicon.png">
    <!-- Page Title  -->
    <title>Home | Booking.com</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./landingfile/assets/css/dashlite.css?ver=3.0.0">
    <link id="skin-default" rel="stylesheet" href="./landingfile/assets/css/theme.css?ver=3.0.0">
</head>

<body class="nk-body bg-white npc-landing ">
    <div class="nk-app-root">
        <!-- main s -->
        <div class="nk-main ">
            <header class="header has-header-main-s1 bg-grad-a mb-5 mb-sm-6 mb-md-7" id="home">
                <div class="header-main header-main-s1 is-sticky is-transparent on-dark">
                    <div class="container header-container">
                       
                        <!-- .header-warp-->
                    </div><!-- .container-->
                </div><!-- .header-main-->
                <div class="header-content my-auto py-5 is-dark">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="header-caption">
                                    <h1 class="header-title">Discover the perfect balance of harmony and comfort.</h1>
                                    <div class="header-text">
                                        <p>Grow your Business with us </p>
                                    </div>
                                    <ul class="header-action btns-inline">
                                        <li><a asp-controller="AdHotel" asp-action="Index" class="btn btn-primary btn-lg"><span>Getting Started</span></a></li>
                                        <li><a asp-controller="AdHotel" asp-action="Index" class="btn btn-danger btn-lg"><span>Regester your property</span></a></li>
                                    </ul>
                                </div><!-- .header-caption -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .header-content -->
                <div class="header-image mb-n5 mb-sm-n6 mb-md-n7"  >
                    <div class="container">
                        <div class="row justify-content-center" >
                            <div class="col-xl-10">
                                <div class="card overflow-hidden p-2 bg-light" >
                                     <form method="post" asp-controller="Test" asp-action="Index">
                                   <div class="row gy-4">
                               

                                                       @* <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control form-control-xl form-control-outlined" id="outlined-normal">
                                                                    <label class="form-label-outlined" for="outlined-normal">Input text outlined</label>
                                                                </div>
                                                            </div>
                                                        </div>*@
                                                        <!-- search box added-->
                                                        <div class="col-lg-4 col-sm-6">

                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right xl">
                                                                        <em class="icon ni ni-search"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control form-control-xl form-control-outlined" name="address" id="address" >
                                                                    <label class="form-label-outlined" for="outlined-right-icon">Where are you going?</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      
                                                        <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right xl">
                                                                        <em class="icon ni ni-calendar-alt"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control form-control-xl form-control-outlined date-picker"  name="start" id="outlined-date-picker">
                                                                    <label class="form-label-outlined" for="outlined-date-picker">Check In</label>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right xl">
                                                                        <em class="icon ni ni-calendar-alt"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control form-control-xl form-control-outlined date-picker" name="end" id="outlined-date-picker">
                                                                    <label class="form-label-outlined" for="outlined-date-picker">Check Out</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--number of room added-->

                                                          <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <select name="noofrooms" class="form-select js-select2" data-ui="xl" id="outlined-select">
                                                                        <option >1</option>
                                                                        <option >2</option>
                                                                        <option >3</option>
                                                                        <option >4</option>
                                                                        <option >5</option>
                                                                    </select>
                                                                    <label class="form-label-outlined" for="outlined-select">Number of Rooms </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    
                                                                   @* <a type="submit" class="btn btn-xl btn-primary"   >Search</a>*@
                                                                   <input type="submit" onclick="return userValid(); " value="search" class="btn btn-xl btn-primary"/>                                 
                                                                </div>
                                                            </div>
                                                        </div>

                                       
                                                       
                                     </div>
                                      </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header><!-- .header -->

            <!--test for suggestion-->
             <section class="section section-service" id="service">
                  <div class="nk-content ">
                     <div class="container-fluid">
                      <div class="nk-content-inner">
                        <div class="nk-content-body">
                             <div class="nk-block nk-block-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-between g-3">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Trending Hotels </h3>
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="slider-init row" data-slick='{"slidesToShow": 4, "centerMode": false, "slidesToScroll": 1, "infinite":false, "responsive":[ {"breakpoint": 1540,"settings":{"slidesToShow": 3}},{"breakpoint": 992,"settings":{"slidesToShow": 2}}, {"breakpoint": 576,"settings":{"slidesToShow": 1}} ]}'>
                                   
                                    @foreach(var item in ViewBag.data){
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a>
                                                    @foreach(var d in ViewBag.photo){
                                                        if(item.hid==d.hid){
                                                  
                                                   <img class="card-img-top" src="@d.url" alt="">
                                                    }
                                                    }
                                                </a>
                                                <ul class="product-badges">
                                                    <li><span class="badge bg-success">New</span></li>
                                                </ul>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">@item.address</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">@item.name</a></h5>
                                                <div class="product-price text-primary h5"> Rs @item.price</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    }

                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="~/userside/images/product/hotel7.jpg" alt="">
                                                </a>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">Surunga</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">White Vintage Hotel</a></h5>
                                                <div class="product-price text-primary h5"><small class="text-muted del fs-13px">Rs 2090</small> RS 1900</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="~/userside/images/product/hotel7.jpg" alt="">
                                                </a>
                                                <ul class="product-badges">
                                                    <li><span class="badge bg-danger">Hot</span></li>
                                                </ul>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">Dhulabari</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">Black Mamba sweet house</a></h5>
                                                <div class="product-price text-primary h5"><small class="text-muted del fs-13px">RS 2129</small> Rs 809</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="~/userside/images/product/hotel7.jpg" alt="">
                                                </a>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">Birtamode</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">Modular Sweet House</a></h5>
                                                <div class="product-price text-primary h5"><small class="text-muted del fs-13px">RS 1609</small> RS 1200</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="~/userside/images/product/hotel7.jpg" alt="">
                                                </a>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">Chandragadi</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">Hotel Hicola Heritage</a></h5>
                                                <div class="product-price text-primary h5"><small class="text-muted del fs-13px">RS 10009</small> RS 7800</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="~/userside/images/product/hotel5.jpg" alt="">
                                                </a>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">Prithivnagar</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">Black king house </a></h5>
                                                <div class="product-price text-primary h5">RS 3229</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div>
                            </div>

                              </div>
                                    </div><!-- .col -->
                                </div>
                            </div>

                    </section>

                   <!-- .section -->

            <!--test for suggestion end -->


              <section class="section section-service" id="service">
                  <div class="nk-content ">
                     <div class="container-fluid">
                      <div class="nk-content-inner">
                        <div class="nk-content-body">
                             <div class="nk-block nk-block-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-between g-3">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Trending Hotels </h3>
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="slider-init row" data-slick='{"slidesToShow": 4, "centerMode": false, "slidesToScroll": 1, "infinite":false, "responsive":[ {"breakpoint": 1540,"settings":{"slidesToShow": 3}},{"breakpoint": 992,"settings":{"slidesToShow": 2}}, {"breakpoint": 576,"settings":{"slidesToShow": 1}} ]}'>
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="~/userside/images/product/hotel3.jpg" alt="">
                                                </a>
                                                <ul class="product-badges">
                                                    <li><span class="badge bg-success">New</span></li>
                                                </ul>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">Birtamode</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">Everest Hotel & Loudge</a></h5>
                                                <div class="product-price text-primary h5"><small class="text-muted del fs-13px">RS3500</small> RS2400</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="~/userside/images/product/hotel2.jpg" alt="">
                                                </a>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">Surunga</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">White Vintage Hotel</a></h5>
                                                <div class="product-price text-primary h5"><small class="text-muted del fs-13px">Rs 2090</small> RS 1900</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="~/userside/images/product/hotel4.jpg" alt="">
                                                </a>
                                                <ul class="product-badges">
                                                    <li><span class="badge bg-danger">Hot</span></li>
                                                </ul>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">Dhulabari</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">Black Mamba sweet house</a></h5>
                                                <div class="product-price text-primary h5"><small class="text-muted del fs-13px">RS 2129</small> Rs 809</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="~/userside/images/product/hotel3.jpg" alt="">
                                                </a>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">Birtamode</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">Modular Sweet House</a></h5>
                                                <div class="product-price text-primary h5"><small class="text-muted del fs-13px">RS 1609</small> RS 1200</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="~/userside/images/product/hotel4.jpg" alt="">
                                                </a>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">Chandragadi</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">Hotel Hicola Heritage</a></h5>
                                                <div class="product-price text-primary h5"><small class="text-muted del fs-13px">RS 10009</small> RS 7800</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="~/userside/images/product/hotel5.jpg" alt="">
                                                </a>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">Prithivnagar</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="~/userside/html/product-details.html">Black king house </a></h5>
                                                <div class="product-price text-primary h5">RS 3229</div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div>
                            </div>

                              </div>
                                    </div><!-- .col -->
                                </div>
                            </div>

                    </section>

            <!--coutry place added-->

            <section class="section section-dashboard bg-lighter" id="previews">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-7 col-md-10">
                            <div class="section-head">
                                <h2 class="title fw-medium">Explore Nepal </h2>
                                <p>This destination has lot to offer </p>
                            </div><!-- .section-head -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="row text-center g-gs justify-center">
                        <div class="col-lg-4 col-sm-6 col-mb-9">
                            <a href="~/landingfile/demo1/index.html" class="card card-shadow product product-s2">
                                <div class="card-inner product-img bg-secondary">
                                    <img src="~/landingfile/images/product/pokhara.jpg" alt="">
                                </div>
                                <div class="card-inner product-info">
                                    <h6 class="title">Pokhara </h6>
                                </div><!-- .card-inner-->
                            </a><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-lg-4 col-sm-6 col-mb-9">
                            <a href="~/landingfile/demo2/index.html" class="card card-shadow product product-s2">
                                <div class="card-inner product-img bg-secondary">
                                    <img src="~/landingfile/images/product/kathmandu.jpg" alt="">
                                </div>
                                <div class="card-inner product-info">
                                    <h6 class="title">Kathmandu</h6>
                                </div><!-- .card-inner-->
                            </a><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-lg-4 col-sm-6 col-mb-9">
                            <a href="~/landingfile/demo3/index.html" class="card card-shadow product product-s2">
                                <div class="card-inner product-img bg-secondary">
                                    <img src="~/landingfile/images/product/sauraha.jpg" alt="">
                                </div>
                                <div class="card-inner product-info">
                                    <h6 class="title">Sauraha</h6>
                                </div><!-- .card-inner-->
                            </a><!-- .card -->
                        </div><!-- .col -->

                         <div class="col-lg-4 col-sm-6 col-mb-9">
                            <a href="~/landingfile/demo5/index.html" class="card card-shadow product product-s2">
                                <div class="card-inner product-img bg-secondary">
                                    <img src="~/landingfile/images/product/chitwan.jpg" alt="">
                                </div>
                                <div class="card-inner product-info">
                                    <h6 class="title">Chitwan</h6>
                                </div><!-- .card-inner-->
                            </a><!-- .card -->
                        </div>


                        <div class="col-lg-4 col-sm-6 col-mb-9">
                            <a href="~/landingfile/demo4/index.html" class="card card-shadow product product-s2">
                                <div class="card-inner product-img bg-secondary">
                                    <img src="~/landingfile/images/product/ilam.jpg" alt="">
                                </div>
                                <div class="card-inner product-info">
                                    <h6 class="title">Ilam</h6>
                                </div><!-- .card-inner-->
                            </a><!-- .card -->
                        </div><!-- .col -->
                       <!-- .col -->
                        <div class="col-lg-4 col-sm-6 col-mb-9">
                            <a href="~/landingfile/demo6/index.html" class="card card-shadow product product-s2">
                                <div class="card-inner product-img bg-secondary">
                                    <img src="~/landingfile/images/product/bandipur.jpg" alt="">
                                </div>
                                <div class="card-inner product-info">
                                    <h6 class="title">Bandipur</h6>
                                </div><!-- .card-inner-->
                            </a><!-- .card -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section>

            <!--country place added end-->

           <!-- .section -->

            <!--best plan added -->

             <section class="section section-pricing" id="pricing">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-head text-center">
                                <h2 class="title">Choose Best Plan For You</h2>
                                <p>Continually network virtual strategic theme areas vis-a-vis ubiquitous potentialities. Holisticly negotiate focused e-tailers without premium solutions.</p>
                            </div><!-- .section-head -->
                        </div>
                    </div><!-- .row -->
                    <div class="row justify-content-center justify-content-lg-between align-items-center g-gs">
                        <div class="col-xl-3 col-sm-6">
                            <div class="pricing pricing-s2 card card-shadow round-md">
                                <div class="card-inner card-inner-lg">
                                    <h2 class="pricing-amount text-purple">RS 1000</h2>
                                    <h5 class="pricing-title">Single Room</h5>
                                    <span class="sub-title">Only for first Booking</span>
                                    <hr class="hr border-light">
                                    <ul class="pricing-feature list list-nostyle">
                                        <li>UnLimited Breakfast</li>
                                        <li>Outdoor pool</li>
                                        <li>Free Site seen</li>
                                        <li> In night BBQ facility </li>
                                    </ul>
                                    <div class="pricing-action">
                                        <a href="#" class="btn btn-outline-primary btn-lg btn-round"><span>Book Now</span></a>
                                    </div>
                                </div><!-- card-inner -->
                            </div><!-- .pricing .card -->
                        </div><!-- .col -->
                        <div class="col-xl-3 col-sm-6">
                            <div class="pricing pricing-s2 card card-shadow round-md">
                                <div class="card-inner card-inner-lg">
                                    <div class="pricing-badge">Popular</div>
                                    <h2 class="pricing-anount text-purple">RS 3500</h2>
                                    <h5 class="pricing-title">Sweet Room</h5>
                                    <span class="sub-title">Only for first Booking</span>
                                    <hr class="hr border-light">
                                    <ul class="pricing-feature list list-nostyle">
                                        <li>UnLimited Breakfast</li>
                                        <li>Outdoor pool</li>
                                        <li>Free Site seen</li>
                                        <li> In night BBQ facility </li>
                                    </ul>
                                    <div class="pricing-action">
                                        <a href="#" class="btn btn-primary btn-lg btn-round"><span>Book Now</span></a>
                                    </div>
                                </div><!-- card-inner -->
                            </div><!-- .pricing .card -->
                        </div><!-- .col -->
                        <div class="col-xl-3 col-sm-6">
                            <div class="pricing pricing-s2 card card-shadow round-md">
                                <div class="card-inner card-inner-lg">
                                    <h2 class="pricing-anount text-purple">RS 7000</h2>
                                    <h5 class="pricing-title">Kings Room</h5>
                                    <span class="sub-title">Only for first Booking</span>
                                    <hr class="hr border-light">
                                   <ul class="pricing-feature list list-nostyle">
                                        <li>UnLimited Breakfast</li>
                                        <li>Outdoor pool</li>
                                        <li>Free Site seen</li>
                                        <li> In night BBQ facility </li>
                                    </ul>
                                    <div class="pricing-action">
                                        <a href="#" class="btn btn-outline-primary btn-lg btn-round"><span>Book Now</span></a>
                                    </div>
                                </div><!-- card-inner -->
                            </div><!-- .pricing .card -->
                        </div><!-- .col -->
                        <div class="col-xl-3 col-sm-6">
                            <div class="pricing pricing-s2 card card-shadow round-md">
                                <div class="card-inner card-inner-lg">
                                    <h2 class="pricing-anount text-purple">RS 10000</h2>
                                    <h5 class="pricing-title">Queens Room</h5>
                                    <span class="sub-title">Only for first Booking</span>
                                    <hr class="hr border-light">
                                    <ul class="pricing-feature list list-nostyle">
                                        <li>UnLimited Breakfast</li>
                                        <li>Outdoor pool</li>
                                        <li>Free Site seen</li>
                                        <li> In night BBQ facility </li>
                                    </ul>
                                    <div class="pricing-action">
                                        <a href="#" class="btn btn-outline-primary btn-lg btn-round"><span>Book Now</span></a>
                                    </div>
                                </div><!-- card-inner -->
                            </div><!-- .pricing .card -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section>

            <!--best plan added end-->

           <!-- .section -->
            <section class="section section-facts bg-grad-a" id="facts">
                <div class="container">
                    <div class="row g-gs align-items-center">
                        <div class="col-lg-5">
                            <div class="text-block is-dark pe-xl-5">
                                <h2 class="title">World's leading chain of Hotels and Homestay</h2>
                                <p class="lead">More Destination. More Ease. More Affortable.</p>
                            </div><!-- .text-block -->
                        </div><!-- .col -->
                        <div class="col-lg-7">
                            <div class="row text-center g-gs">
                                <div class="col-sm-4 col-6">
                                    <div class="card card-full round-xl">
                                        <div class="card-inner card-inner-md">
                                            <div class="h1 fw-bold text-purple">700 +</div>
                                            <div class="h6 text-base"> Hotels </div>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4 col-6">
                                    <div class="card card-full round-xl">
                                        <div class="card-inner card-inner-md">
                                            <div class="h1 fw-bold text-success"> 2400+</div>
                                            <div class="h6 text-base"> Rooms </div>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <div class="card card-full round-xl">
                                        <div class="card-inner card-inner-md">
                                            <div class="h1 fw-bold text-pink">28000 +</div>
                                            <div class="h6 text-base"> Happy customer</div>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
                <!-- <div class="nk-ovm shape-b shape-cover shape-top"></div> -->
                <div class="nk-ovm shape-b shape-cover"></div>
            </section><!-- .section -->


            <!--developer mode -->

             <section class="section section-team pb-0" id="team">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="section-head">
                                <h2 class="title text-dark px-1">Have questions or need support? Our team is here to help!</h2>
                                <p>Continually network virtual strategic theme areas vis-a-vis ubiquitous potentialities. Holisticly negotiate focused e-tailers without premium solutions..</p>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="row g-gs justify-content-center">
                        <div class="col-lg-3 col-sm-6 col-mb-6">
                           @* <div class="team team-s1">
                                <div class="team-portrait">
                                    <img src="~/landingfile/images/team/a.jpg" alt="">
                                </div>
                                <div class="team-info">
                                    <h6 class="team-name">Marthe Dodier</h6>
                                    <div class="team-role">Web Developer</div>
                                    <ul class="social social-primary">
                                        <li><a href="#"><em class="icon ni ni-twitter"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-instagram"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-pinterest"></em></a></li>
                                    </ul>
                                    <!--.social link-->
                                </div>
                            </div>*@
                            <!--team-->
                        </div>
                        <!--col-->
                        <div class="col-lg-3 col-sm-6 col-mb-6">
                            <div class="team team-s1">
                                <div class="team-portrait">
                                    <img src="~/landingfile/images/team/ankit.jpg" alt="">
                                </div>
                                <div class="team-info">
                                    <h6 class="team-name">Ankit Shiwakoti</h6>
                                    <div class="team-role">Web Developer</div>
                                    <ul class="social social-primary">
                                        <li><a href="#"><em class="icon ni ni-twitter"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-instagram"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-pinterest"></em></a></li>
                                    </ul>
                                    <!--.social link-->
                                </div>
                                <!--=team info=-->
                            </div>
                            <!--team-->
                        </div>
                        <!--col-->
                        <div class="col-lg-3 col-sm-6 col-mb-6">
                            <div class="team team-s1">
                                <div class="team-portrait">
                                    <img src="~/landingfile/images/team/ankit.jpg" alt="">
                                </div>
                                <div class="team-info">
                                    <h6 class="team-name">Bishwadip Karki</h6>
                                    <div class="team-role">Web Developer</div>
                                    <ul class="social social-primary">
                                        <li><a href="#"><em class="icon ni ni-twitter"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-instagram"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-pinterest"></em></a></li>
                                    </ul>
                                    <!--.social link-->
                                </div>
                                <!--=team info=-->
                            </div>
                            <!--team-->
                        </div>
                        <!--col-->
                        <div class="col-lg-3 col-sm-6 col-mb-6">
                            @*<div class="team team-s1">
                                <div class="team-portrait">
                                    <img src="~/landingfile/images/team/d.jpg" alt="">
                                </div>
                                <div class="team-info">
                                    <h6 class="team-name">Loring Duperra</h6>
                                    <div class="team-role">Web Developer</div>
                                    <ul class="social social-primary">
                                        <li><a href="#"><em class="icon ni ni-twitter"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-instagram"></em></a></li>
                                        <li><a href="#"><em class="icon ni ni-pinterest"></em></a></li>
                                    </ul>
                                    <!--.social link-->
                                </div>
                                <!--=team info=-->
                            </div>*@
                            <!--team-->
                        </div>
                        <!--col-->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section>

            <!--developer mode-->


            <section class="section section-faq" id="faqs">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-6">
                            <div class="section-head">
                                <h2 class="title">Frequently Asked Questions</h2>
                                <p>Got a question? We've got answers. If you have some other questions, Who are in extremely love with eco friendly system.</p>
                            </div><!-- .section-head -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="accordion accordion-s1 card card-shadow border-0 round-xl" id="accordion">
                                <div class="accordion-item">
                                    <a href="#" class="accordion-head" data-bs-toggle="collapse" data-bs-target="#accordion-item-1">
                                        <h6 class="title">Is this a secure site for purchases?</h6>
                                        <span class="accordion-icon"></span>
                                    </a>
                                    <div class="accordion-body collapse show" id="accordion-item-1" data-bs-parent="#accordion">
                                        <div class="accordion-inner">
                                            <p>Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner. </p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-item-2">
                                        <h6 class="title">What payment services do you support?</h6>
                                        <span class="accordion-icon"></span>
                                    </a>
                                    <div class="accordion-body collapse" id="accordion-item-2" data-bs-parent="#accordion">
                                        <div class="accordion-inner">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-item-3">
                                        <h6 class="title">How long are your contracts?</h6>
                                        <span class="accordion-icon"></span>
                                    </a>
                                    <div class="accordion-body collapse" id="accordion-item-3" data-bs-parent="#accordion">
                                        <div class="accordion-inner">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-item-4">
                                        <h6 class="title">Can I update my card details?</h6>
                                        <span class="accordion-icon"></span>
                                    </a>
                                    <div class="accordion-body collapse" id="accordion-item-4" data-bs-parent="#accordion">
                                        <div class="accordion-inner">
                                            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-item-5">
                                        <h6 class="title">Can i use the these theme for my client?</h6>
                                        <span class="accordion-icon"></span>
                                    </a>
                                    <div class="accordion-body collapse" id="accordion-item-5" data-bs-parent="#accordion">
                                        <div class="accordion-inner">
                                            <p>Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                            </div><!-- accordion -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- .section -->
            <section class="section secton-cta bg-lighter">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <div class="row align-items-center g-0">
                                <div class="col-md-7">
                                    <div class="card card-shadow round-xl bg-indigo is-dark pb-4 pb-md-0">
                                        <div class="card-inner card-inner-xl">
                                            <div class="text-block">
                                                <h3 class="title">Single Room</h3>
                                                <ul class="list list-nostyle fs-16px">
                                                    <li> Free wifi</li>
                                                    <li>Free Breakfast</li>
                                                    <li> 24/7 Bar Available </li>
                                                    <li>Free Site visit </li>
                                                    <li class="note text-warning">+ All rooms are equiped with AC</li>
                                                </ul>
                                                <ul class="btns-inline">
                                                    <li><a href="https://1.envato.market/e0y3g" target="_blank" class="btn btn-xl btn-primary">Book Now for RS 2400</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-md-5">
                                    <div class="card card-shadow round-xl ms-lg-n7 ms-md-n5 mx-4 me-md-0 mt-md-0 mt-n4">
                                        <div class="card-inner card-inner-lg">
                                            <div class="form-block">
                                                <div class="section-head section-head-sm">
                                                    <h4 class="title">Do you have any other question?</h4>
                                                </div>
                                                <form action="#" class="form-submit">
                                                    <div class="row g-4">
                                                        <div class="col-12">
                                                            <div class="form-group ">
                                                                <label class="form-label" for="name">Your Name</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control form-control-lg" id="name" placeholder="Your Name">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="form-label" for="email">Enter Your Email</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control form-control-lg" id="email" placeholder="Enter Your Email">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="form-label" for="question">Your Question</label>
                                                                <div class="form-control-wrap">
                                                                    <textarea class="form-control no-resize" id="question" placeholder="Your Question"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <a href="#" class="btn btn-lg btn-primary">Ask Question</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- .section -->
            <footer class="footer bg-indigo is-dark bg-lighter" id="footer">
                <div class="container">
                    <div class="row g-3 align-items-center justify-content-md-between py-4 py-md-5">
                        <div class="col-md-3">
                            <div class="footer-logo">
                                <a href="landingfile/html/index.html" class="logo-link">
                                    <img class="logo-light logo-img" src="./userside/images/bookinglogo.png" srcset="./images/logo2x.png 2x" alt="logo">
                                    <img class="logo-dark logo-img" src="./userside/images/bookinglogo.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                                </a>
                            </div><!-- .footer-logo -->
                        </div><!-- .col -->
                        <div class="col-md-9 d-flex justify-content-md-end">
                            <ul class="link-inline gx-4">
                                <li><a href="#">How it works</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul><!-- .footer-nav -->
                        </div><!-- .col -->
                    </div>
                    <hr class="hr border-light mb-0 mt-n1">
                    <div class="row g-3 align-items-center justify-content-md-between py-4">
                        <div class="col-md-8">
                            <div class="text-base">Copyright &copy; 2022 BBQ. Template Made by <a class="text-base fw-bold" href="#">The Wheels</a></div>
                        </div><!-- .col -->
                        <div class="col-md-4 d-flex justify-content-md-end">
                            <ul class="social">
                                <li><a href="#"><em class="icon ni ni-twitter"></em></a></li>
                                <li><a href="#"><em class="icon ni ni-facebook-f"></em></a></li>
                                <li><a href="#"><em class="icon ni ni-instagram"></em></a></li>
                                <li><a href="#"><em class="icon ni ni-pinterest"></em></a></li>
                            </ul><!-- .footer-icon -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </footer><!-- .footer -->
        </div>
        <!-- main e -->
    </div>
    <!-- app-root e -->
    <!-- JavaScript -->
   <script src="~/landingfile/assets/js/bundle.js?ver=3.0.0"></script>
     <script src="~/landingfile/assets/js/scripts.js?ver=3.0.0"></script>

    
</body>


