@page
@model BBQ.Views.Usaftersearch.IndexModel
*@{
    Layout = "_UsLayout";
}

<!DOCTYPE html>
<html lang="zxx" class="js">



<body class="nk-body bg-lighter npc-general has-sidebar ">
    <div class="nk-app-root">
        <!-- main s -->
        <div class="nk-main ">
            <!-- sidebar s -->
           
            <!-- sidebar e -->
            <!-- wrap s -->
            <div class="nk-wrap ">
                <!-- main header s -->
               
                <!-- main header e -->
                <!-- content s -->
                <div class="nk-content ">
                    <div class="container">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">

                                <!--search added by me -->

                                 <div class="nk-block nk-block-lg">
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h4 class="title nk-block-title">Form Outlined</h4>
                                                <div class="nk-block-des">
                                                    <p>Textual form controls—like <code class="code-tag">&lt;input&gt;</code>s, <code class="code-tag">&lt;select&gt;</code>s, and <code class="code-tag">&lt;textarea&gt;</code>s—are styled with the <code>.form-control</code> class. Included are styles for general appearance, focus state, sizing, and more. Additional classes can be used to vary this layout on a per-form basis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-bordered card-preview">
                                            <div class="card-inner">
                                                <div class="preview-block">
                                                    <span class="preview-title-lg overline-title">Outlined Preview</span>
                                                    <div class="row gy-4">
                                                       @* <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control form-control-xl form-control-outlined" id="outlined-normal">
                                                                    <label class="form-label-outlined" for="outlined-normal">Input text outlined</label>
                                                                </div>
                                                            </div>
                                                        </div>*@
                                                        <!-- search box added-->
                                                        <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right xl">
                                                                        <em class="icon ni ni-search"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control form-control-xl form-control-outlined" id="outlined-right-icon">
                                                                    <label class="form-label-outlined" for="outlined-right-icon">Where are you going?</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      
                                                        <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right xl">
                                                                        <em class="icon ni ni-calendar-alt"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control form-control-xl form-control-outlined date-picker" id="outlined-date-picker">
                                                                    <label class="form-label-outlined" for="outlined-date-picker">Check In</label>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right xl">
                                                                        <em class="icon ni ni-calendar-alt"></em>
                                                                    </div>
                                                                    <input type="text" class="form-control form-control-xl form-control-outlined date-picker" id="outlined-date-picker">
                                                                    <label class="form-label-outlined" for="outlined-date-picker">Check Out</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--number of room added-->

                                                          <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <select class="form-select js-select2" data-ui="xl" id="outlined-select">
                                                                        <option value="default_option">1</option>
                                                                        <option value="option_select_name">2</option>
                                                                        <option value="option_select_name">3</option>
                                                                        <option value="option_select_name">4</option>
                                                                        <option value="option_select_name">5</option>
                                                                    </select>
                                                                    <label class="form-label-outlined" for="outlined-select">Number of Rooms </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    
                                                                    <a href="#" class="btn btn-xl btn-primary">Search</a>
                                                                </div>
                                                            </div>
                                                        </div>


                                                       
                                                    </div>


                                                   @* <hr class="preview-hr">
                                                    <span class="preview-title-lg overline-title">Outlined Sizes</span>
                                                    <div class="row gy-4">
                                                        <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control form-control-xl form-control-outlined" id="outlined-xl">
                                                                    <label class="form-label-outlined" for="outlined-xl">Input text xl</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control form-control-lg form-control-outlined" id="outlined-lg">
                                                                    <label class="form-label-outlined" for="outlined-lg">Input text lg</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control form-control-outlined" id="outlined-default">
                                                                    <label class="form-label-outlined" for="outlined-default">Input text</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="text-soft">Use <code>.form-control-outlined</code> with <code>.form-control</code> for outlined form element and replace <code>.form-label</code> with <code>.form-label-outlined</code>, also place label after input/select element.</p>
                                                        </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .card-preview -->


                                        <!-- search added end  -->

                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Products</h3>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle">
                                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                                <div class="toggle-expand-content" data-content="pageMenu">
                                                    <ul class="nk-block-tools g-3">
                                                        <li>
                                                            <div class="form-control-wrap">
                                                                <div class="form-icon form-icon-right">
                                                                    <em class="icon ni ni-search"></em>
                                                                </div>
                                                                <input type="text" class="form-control" id="default-04" placeholder="Quick search by id">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="drodown">
                                                                <a href="#" class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white" data-bs-toggle="dropdown">Status</a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li><a href="#"><span>New Items</span></a></li>
                                                                        <li><a href="#"><span>Featured</span></a></li>
                                                                        <li><a href="#"><span>Out of Stock</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="nk-block-tools-opt">
                                                            <a href="#" data-target="addProduct" class="toggle btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                                                            <a href="#" data-target="addProduct" class="toggle btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Add Product</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="row g-gs">
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="card card-bordered product-card">
                                                <div class="product-thumb">
                                                    <a href="html/product-details.html">
                                                        <img class="card-img-top" src="./images/product/lg-a.jpg" alt="">
                                                    </a>
                                                    <ul class="product-badges">
                                                        <li><span class="badge bg-success">New</span></li>
                                                    </ul>
                                                    <ul class="product-actions">
                                                        <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                        <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                    </ul>
                                                </div>
                                                <div class="card-inner text-center">
                                                    <ul class="product-tags">
                                                        <li><a href="#">Smart Watch</a></li>
                                                    </ul>
                                                    <h5 class="product-title"><a href="html/product-details.html">Classy Modern Smart watch</a></h5>
                                                    <div class="product-price text-primary h5"><small class="text-muted del fs-13px">$350</small> $324</div>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="card card-bordered product-card">
                                                <div class="product-thumb">
                                                    <a href="html/product-details.html">
                                                        <img class="card-img-top" src="./images/product/lg-b.jpg" alt="">
                                                    </a>
                                                    <ul class="product-actions">
                                                        <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                        <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                    </ul>
                                                </div>
                                                <div class="card-inner text-center">
                                                    <ul class="product-tags">
                                                        <li><a href="#">Vintage Phone</a></li>
                                                    </ul>
                                                    <h5 class="product-title"><a href="html/product-details.html">White Vintage telephone</a></h5>
                                                    <div class="product-price text-primary h5"><small class="text-muted del fs-13px">$209</small> $119</div>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="card card-bordered product-card">
                                                <div class="product-thumb">
                                                    <a href="html/product-details.html">
                                                        <img class="card-img-top" src="./images/product/lg-c.jpg" alt="">
                                                    </a>
                                                    <ul class="product-badges">
                                                        <li><span class="badge bg-danger">Hot</span></li>
                                                    </ul>
                                                    <ul class="product-actions">
                                                        <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                        <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                    </ul>
                                                </div>
                                                <div class="card-inner text-center">
                                                    <ul class="product-tags">
                                                        <li><a href="#">Headphone</a></li>
                                                    </ul>
                                                    <h5 class="product-title"><a href="html/product-details.html">Black Wireless Headphones</a></h5>
                                                    <div class="product-price text-primary h5"><small class="text-muted del fs-13px">$129</small> $89</div>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="card card-bordered product-card">
                                                <div class="product-thumb">
                                                    <a href="html/product-details.html">
                                                        <img class="card-img-top" src="./images/product/lg-d.jpg" alt="">
                                                    </a>
                                                    <ul class="product-actions">
                                                        <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                        <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                    </ul>
                                                </div>
                                                <div class="card-inner text-center">
                                                    <ul class="product-tags">
                                                        <li><a href="#">Smart Watch</a></li>
                                                    </ul>
                                                    <h5 class="product-title"><a href="html/product-details.html">Modular Smart Watch</a></h5>
                                                    <div class="product-price text-primary h5"><small class="text-muted del fs-13px">$169</small> $120</div>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="card card-bordered product-card">
                                                <div class="product-thumb">
                                                    <a href="html/product-details.html">
                                                        <img class="card-img-top" src="./images/product/lg-e.jpg" alt="">
                                                    </a>
                                                    <ul class="product-actions">
                                                        <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                        <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                    </ul>
                                                </div>
                                                <div class="card-inner text-center">
                                                    <ul class="product-tags">
                                                        <li><a href="#">Headphones</a></li>
                                                    </ul>
                                                    <h5 class="product-title"><a href="html/product-details.html">White Wireless Headphones</a></h5>
                                                    <div class="product-price text-primary h5"><small class="text-muted del fs-13px">$109</small> $78</div>
                                                </div>
                                            </div>fghjklttt
   bcnvn                                     </div><!-- .col -->
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="card card-bordered product-card">
                                                <div class="product-thumb">
                                                    <a href="html/product-details.html">
                                                        <img class="card-img-top" src="./images/product/lg-f.jpg" alt="">
                                                    </a>
                                                    <ul class="product-actions">
                                                        <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                        <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                    </ul>
                                                </div>
                                                <div class="card-inner text-center">
                                                    <ul class="product-tags">
                                                        <li><a href="#">Phone</a></li>
                                                    </ul>
                                                    <h5 class="product-title"><a href="html/product-details.html">Black Android Phone</a></h5>
                                                    <div class="product-price text-primary h5">$329</div>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="card card-bordered product-card">
                                                <div class="product-thumb">
                                                    <a href="html/product-details.html">
                                                        <img class="card-img-top" src="./images/product/lg-h.jpg" alt="">
                                                    </a>
                                                    <ul class="product-actions">
                                                        <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                        <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                    </ul>
                                                </div>
                                                <div class="card-inner text-center">
                                                    <ul class="product-tags">
                                                        <li><a href="#">Smart Watch</a></li>
                                                    </ul>
                                                    <h5 class="product-title"><a href="html/product-details.html">Modern Smart watch</a></h5>
                                                    <div class="product-price text-primary h5"><small class="text-muted del fs-13px">$200</small> $178</div>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="card card-bordered product-card">
                                                <div class="product-thumb">
                                                    <a href="html/product-details.html">
                                                        <img class="card-img-top" src="./images/product/lg-g.jpg" alt="">
                                                    </a>
                                                    <ul class="product-badges">
                                                        <li><span class="badge bg-danger">Hot</span></li>
                                                    </ul>
                                                    <ul class="product-actions">
                                                        <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                        <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                    </ul>
                                                </div>
                                                <div class="card-inner text-center">
                                                    <ul class="product-tags">
                                                        <li><a href="#">Bundle</a></li>
                                                    </ul>
                                                    <h5 class="product-title"><a href="html/product-details.html">Gadget Bundle</a></h5>
                                                    <div class="product-price text-primary h5"><small class="text-muted del fs-13px">$609</small> $498</div>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                    </div>
                                </div><!-- .nk-block -->
                                <div class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">New Product</h5>
                                            <div class="nk-block-des">
                                                <p>Add information and add new product.</p>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="row g-3">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="product-title">Product Title</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="product-title">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="regular-price">Regular Price</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="regular-price">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="sale-price">Sale Price</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="sale-price">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="stock">Stock</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="stock">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="SKU">SKU</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="SKU">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="category">Category</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="category">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="tags">Tags</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="tags">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="upload-zone small bg-lighter my-2">
                                                    <div class="dz-message">
                                                        <span class="dz-message-text">Drag and drop file</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Add New</span></button>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block -->
                                </div>

                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <!-- naviagation added by me -->

                      <nav>
    <ul class="pagination justify-content-center">
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

 <!-- naviagation added by me end  -->


                            </div>
                        </div>
                    </div>
                </div>
                <!-- content e -->
                <!-- footer s -->
               
                <!-- footer e -->




            </div>
            <!-- wrap e -->
        </div>
        <!-- main e -->
    </div>
    <!-- app-root e -->
    <!-- select region modal -->
    <!-- .modal -->
    <!-- JavaScript -->
    
</body>

</html>