@page
@model BBQ.Views.AdRoom.AmenitiesIndexModel
@{
    Layout = "_AdminLayout";
}

<div class="nk-content ">
<div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="components-preview wide-md mx-auto">
                                    
                                   
                                    
                                    <div class="nk-block nk-block-lg">
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h5 class="title nk-block-title"> Room Sizes</h5>
                                                <p>We display your room size to guests on your Booking.com property page.</p>
                                            </div>
                                        </div>

                                         <div class="form-group">
                                                                <label class="form-label" for="default-06">Room Type</label>
                                                                <div class="form-control-wrap ">
                                                                    <div class="form-control-select">
                                                                        <select class="form-control" id="default-06">
                                                                            <option value="default_option">Room Type</option>
                                                                            <option value="option_select_name">Single</option>
                                                                            <option value="option_select_name">Double</option>
                                                                            <option value="option_select_name">Deluxe</option>
                                                                            <option value="option_select_name">Royal</option>
                                                                            <option value="option_select_name">Suit</option>

                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>




                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
</div>














<div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="components-preview wide-md mx-auto">
                                    
                                   
                                    
                                    <div class="nk-block nk-block-lg">
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h5 class="title nk-block-title"> Room Amenities</h5>
                                                <p>We know that these amenities encourage guests to book. Tell them which you have by answering yes or no to each question.</p>
                                            </div>
                                        </div>
                                        <div class="card card-bordered card-preview">
                                            <div class="card-inner">
                                                <ul class="preview-list">


                                                    <li class="preview-item">
                                                        <span class="preview-title overline-title">Air Conditioning</span>
                                                        <div class="dropdown-preview">
                                                            <div class="dropdown-menu">
                                                                <ul class="link-tidy">
                                                                    
                                                                    
                                                                    <li>
                                                                        <div class="custom-control custom-control-sm custom-radio">
                                                                            <input type="radio" class="custom-control-input" checked="" name="radio-list" id="radio-bl">
                                                                            <label class="custom-control-label" for="radio-bl">Yes</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-control-sm custom-radio">
                                                                            <input type="radio" class="custom-control-input" name="radio-list" id="radio-ph">
                                                                            <label class="custom-control-label" for="radio-ph">No</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li><!-- li -->
                                                    <li class="preview-item">
                                                        <span class="preview-title overline-title">Balcony</span>
                                                        <div class="dropdown-preview">
                                                            <div class="dropdown-menu">
                                                                <ul class="link-tidy">
                                                                    
                                                                    
                                                                    <li>
                                                                        <div class="custom-control custom-control-sm custom-radio">
                                                                            <input type="radio" class="custom-control-input" checked="" name="radio-list1" id="radio-bl1">
                                                                            <label class="custom-control-label" for="radio-bl1">Yes</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-control-sm custom-radio">
                                                                            <input type="radio" class="custom-control-input" name="radio-list1" id="radio-ph1">
                                                                            <label class="custom-control-label" for="radio-ph1">No</label>
                                                                        </div>
                                                                    </li>
                                                                   
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li><!-- li -->
                                                    <li class="preview-item">
                                                        <span class="preview-title overline-title">Bath</span>
                                                        <div class="dropdown-preview">
                                                            <div class="dropdown-menu">
                                                                <ul class="link-tidy ">
                                                                    
                                                                    <li>
                                                                        <div class="custom-control custom-control-sm custom-radio">
                                                                            <input type="radio" class="custom-control-input" checked="" name="radio-list2" id="radio-bl2">
                                                                            <label class="custom-control-label" for="radio-bl2">Yes</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-control-sm custom-radio">
                                                                            <input type="radio" class="custom-control-input" name="radio-list2" id="radio-ph2">
                                                                            <label class="custom-control-label" for="radio-ph2">No</label>
                                                                        </div>
                                                                    </li>
                                                                    </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                                    <li class="preview-item">
                                                        <span class="preview-title overline-title">Private Pool</span>
                                                        <div class="dropdown-preview">
                                                            <div class="dropdown-menu">
                                                                <ul class="link-tidy ">
                                                                    
                                                                    <li>
                                                                        <div class="custom-control custom-control-sm custom-radio">
                                                                            <input type="radio" class="custom-control-input" checked="" name="radio-list4" id="radio-bl4">
                                                                            <label class="custom-control-label" for="radio-bl4">Yes</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-control-sm custom-radio">
                                                                            <input type="radio" class="custom-control-input" name="radio-list4" id="radio-ph4">
                                                                            <label class="custom-control-label" for="radio-ph4">No</label>
                                                                        </div>
                                                                    </li>
                                                                    
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li><!-- li -->
                                                    <li class="preview-item">
                                                        <span class="preview-title overline-title">Terrace</span>
                                                        <div class="dropdown-preview">
                                                            <div class="dropdown-menu">
                                                                <ul class="link-tidy ">
                                                                    
                                                                    <li>
                                                                        <div class="custom-control custom-control-sm custom-radio">
                                                                            <input type="radio" class="custom-control-input" checked="" name="radio-list6" id="radio-bl6">
                                                                            <label class="custom-control-label" for="radio-bl6">Yes</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="custom-control custom-control-sm custom-radio">
                                                                            <input type="radio" class="custom-control-input" name="radio-list6" id="radio-ph6">
                                                                            <label class="custom-control-label" for="radio-ph6">No</label>
                                                                        </div>
                                                                    </li>
                                                    
                                                                </ul>
                                                
                                                         
                                                            </div>
                                                          </div>
                                                       </li>
                                                </ul>
                                        </div><!-- .card-preview -->
                                       
                                      
                                    </div>
                                   
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
                
            
            
  </div>
   
    
<div class="nk-content ">
<div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="components-preview wide-md mx-auto">
                                    <div class="nk-block nk-block-lg">
            <div class="text-center">
           
            <button type="button" class="btn btn-primary col-md-12">Save</button>
           </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            
                
     </div>
