@page
@model BBQ.Views.AdRoom.updroomModel
@{
    Layout = "_AdminLayout";
}


<p>HHEHHE</p>
<p>HHEHHE</p>
<p>HHEHHE</p><p>HHEHHE</p>

<p>HHEHHE</p><p>HHEHHE</p>
<p>HHEHHE</p>
<p>HHEHHE</p><p>HHEHHE</p>
<p>HHEHHE</p>
<p>HHEHHE</p>
<p>HHEHHE</p>
