@page
@model BBQ.Views.AdDash1.Dash1IndexModel
@{

    Layout = "_AdminLayout";
}
                
                     <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between g-3">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Hotel Info</h3>
                                            
                                        </div>
                                        @*<div class="nk-block-head-content">
                                            <a href="#" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-download-cloud"></em><span>Download All</span></a>
                                            <a href="#" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-download-cloud"></em></a>
                                        </div>*@
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="row g-gs">
                                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                                            <div class="gallery card card-bordered">
                                                <a class="gallery-image popup-image" href="~/userside/images/product/hotel2.jpg">
                                                    <img class="w-100 rounded-top" src="~/userside/images/product/hotel2.jpg" alt="">
                                                </a>
                                                <div class="gallery-body card-inner align-center justify-between flex-wrap g-2">
                                                    <div class="user-card">
                                                        <div class="user-avatar">
                                                            <img src="~/userside/images/product/hotel2.jpg" alt="">
                                                        </div>
                                                        <div class="user-info">
                                                            <span class="lead-text">Lanka Resort</span>
                                                             
                                                            <em class="fa-solid fa-location-dot"></em>
                                                            
                                                            <span class="sub-text">Birtamode,Jhapa</span>
                                                            
                                                        </div>
                                                    </div>
                                                    @*<div>
                                                        <button class="btn btn-p-0 btn-nofocus"><em class="icon ni ni-heart"></em><span>34</span></button>
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                      
                                      
                                        
                                       
                                       
                                    </div>
                                </div><!-- .nk-block -->



                                <div class="nk-block">
                                    <div class="row g-gs">
                                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                                            <div class="gallery card card-bordered">
                                                <a class="gallery-image popup-image" href="./images/stock/bbq.jpg">
                                                    <img class="w-100 rounded-top" src="./images/stock/bbq.jpg" alt="">
                                                </a>
                                                <div class="gallery-body card-inner align-center justify-between flex-wrap g-2">
                                                    <div class="user-card">
                                                        <div class="user-avatar">
                                                            <img src="./images/avatar/bbq-sm.jpg" alt="">
                                                        </div>
                                                        <div class="user-info">
                                                            <span class="lead-text">Lanka Resort</span>
                                                             
                                                           @* <button class="btn btn-p-0 btn-nofocus">*@
                                                            <em class="fa-solid fa-location-dot"></em>
                                                            
                                                            <span class="sub-text">Birtamode,Jhapa</span>
                                                            @*</button>*@
                                                        </div>
                                                    </div>
                                                    @*<div>
                                                        <button class="btn btn-p-0 btn-nofocus"><em class="icon ni ni-heart"></em><span>34</span></button>
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                      
                                      
                                        
                                       
                                       
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
               
