@page
@model BBQ.Views.Tryho.IndexModel
@{
}
<html>

    <head>

</head>

<body>
<script>
    async function fetchText(){
        let url='https://ipinfo.io/json?token=dc62ace345a9a8';
        let response=await fetch(url);
        let data= await response.json();
        console.log(data);
        var city=data.city;
        document.getElementById("coordinate").value = city;
    }
    fetchText();

</script>
</body>
</html>