@page
@model BBQ.Views.Tryho.IndexModel
@{
}
<html>

    <head>
<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
</head>

<body>
<script>
    console.log("ip: ", geoplugin_city())

</script>
</body>
</html>